#indhold{
    width: 1079px;
    height: 355px;
    background-color: white;
    display: grid;

    grid-template-columns: auto auto auto auto ;
    grid-template-areas:"main section aside nav ";
                        
                    
}

#indhold p{
    color: white;
}


.main{
    grid-area: main;/*kan hedde noget andet */
}

.section{
    grid-area: section;
}

.aside{
    grid-area: aside;
}

.nav{
    grid-area: nav;
}


#indhold figure {
    position: relative;
    margin: 20px;
}

#indhold figure img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#indhold figure:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

#fig1 {
    position: absolute;
    background: rgba(95,147,170,0.7);
    width: 100%;
    height: 50px;
    top: 220px;
    text-align: center;
    padding-bottom: 10px;
    }
#fig2 {
    position: absolute;
    background: rgba(95,147,170,0.7);
    width: 100%;
    height: 50px;
    top: 220px;
    text-align: center;
    padding-bottom: 10px;
    }
#fig3 {
    position: absolute;
    background: rgba(95,147,170,0.7);
    width: 100%;
    height: 50px;
    top: 220px;
    text-align: center;
    padding-bottom: 10px;
    }
#fig4 {
    position: absolute;
    background: rgba(95,147,170,0.7);
    width: 100%;
    height: 50px;
    top: 220px;
    text-align: center;
    padding-bottom: 10px;
    }


.product {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
}

.product img {
    max-width: 100px; /* Set the maximum width for the images */
}

.product-details {
    display: flex;
    flex-direction: column;
}

.animal-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    justify-items: center;
}

.animal {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

img {
    max-width: 100%;
    height: auto;
}
.animal:hover {
    transform: scale(1.1); /* Scale the image on hover */
    transition: transform 0.3s ease; /* Add a smooth transition */
    cursor: pointer; /* Change the cursor to a pointer on hover */
}